include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include /data/log files/test_log_to_xls.log
include /autoflpy/data/images/Logo here.png
recursive-include autoflpy/data *
recursive-include autoflpy/user_files *
recursive-include tests *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude data *
exclude autoflpy/util/unused/*
recursive-exclude autoflpy/data/images *


recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
